$mainColor: #00ae4a;

.orders {
    padding: 120px 120px 50px 120px;
    //background-color: aliceblue;

    h2 {
        position: relative;
        text-align: center;
        padding: 10px 30px;
        color: white;
        font-size: 33px;
        font-weight: bold;
        border-radius: 5px;
        margin-bottom: 40px;

        &::before {
            content: "";
            background-image: url(//bizweb.dktcdn.net/100/350/980/themes/802125/assets/bg_title.png?1608187967113);
            background-repeat: no-repeat;
            width: 69px;
            height: 32px;
            display: block;
            position: absolute;
            left: 47%;
            top: 55px;
        }

        span {
            background: -webkit-linear-gradient(35deg, #3dc754 0%, #ff8a6c 100%);
            background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    .listOrders {
        margin-top: 70px;
        display: flex;
        flex-wrap: wrap;

        .itemOrder {
            background-color: #fff;
            position: relative;
            list-style-type: none;
            border-radius: 15px;
            box-shadow: 1px 1px 10px #dadada;
            margin: 18px 18px;

            width: 370px;
            height: 350px;
            color: #5c5c5c;
            font-family: monospace;
            font-weight: none;
            transition: ease-in-out 0.15s;

            &:hover {
                cursor: pointer;
                transition: ease-in-out 0.1s;
                transform: scale(1.02);
            }

            .idOrder {
                position: absolute;
                font-size: 20px;
                padding: 20px 20px;
                color: #28bb65;
            }

            .iconState {
                position: absolute;
                background-color: #fff;
                border-bottom-left-radius: 15px;
                border-top-right-radius: 15px;
                right: 0px;
                padding: 15px 15px 5px 15px;
                font-size: 50px;
            }

            .inforOrder {
                position: absolute;
                top: 80px;

                table {
                    tr {
                        font-size: 14px;
                        font-weight: none;
                        text-align: left;

                        td {
                            padding: 10px 15px;
                        }

                        .titleInfor {
                            color: #00ae4a;
                            font-size: 13.5px;
                        }
                    }
                }
            }

            .listImgProducts {
                position: absolute;
                display: flex;

                top: 215px;

                li {
                    list-style-type: none;

                    img {
                        width: 90px;
                        height: 80px;
                        border-radius: 10px;
                        margin: 0px 0px 0px 10px;
                    }
                }
            }

            button {
                position: absolute;
                bottom: 10px;
                left: 115px;
                outline: none;
                border: 0px solid #00ae4a;

                background-color: #ffc400;
                color: #fff;
                font-weight: bold;
                font-size: 14px;
                font-family: monospace;
                padding: 7px 15px;
                border-radius: 20px;
                transition: ease-in-out 0.2s;

                &:hover {
                    cursor: pointer;
                    box-shadow: 1px 1px 10px #ffe15c;
                    transition: ease-in-out 0.2s;
                }
            }
        }
    }

    .detailOrder {
        display: block;
        position: fixed;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        background-color: rgba(104, 104, 104, 0.5);
        z-index: 399;

        .main {
            position: relative;
            top: 100px;
            background-color: #fff;
            margin: 0px auto;
            width: 1000px;
            height: 550px;
            border-radius: 15px;

            .left {
                position: absolute;
                //background-color: #d4edff;
                width: 600px;
                height: 100%;
                border-radius: 15px;

                h3 {
                    margin: 15px -60px 20px 0px;
                    color: #ff6a00;
                    font-size: 25px;
                    text-align: right;
                }

                table {
                    margin: 10px 0px 10px 20px;
                    padding-bottom: 20px;
                    border-bottom: 1px solid #d6d6d6;

                    tbody {
                        tr {
                            td {
                                padding: 7px 10px 7px 0px;
                                font-family: monospace;
                                font-size: 15px;
                                line-height: 30px;
                            }

                            .title {
                                width: 190px;

                                color: #00ae4a;
                            }

                            .content {
                                font-size: 16px;
                                color: #4b4b4b;

                                span {
                                    font-weight: bold;
                                    font-size: 20px;
                                }
                            }
                        }
                    }
                }

                .tableOrderDetail {
                    margin-top: 20px;
                    border-bottom: 0px solid #d6d6d6;
                }

                .btnClose {
                    position: absolute;
                    right: 40px;
                    bottom: 20px;
                    border: 0px solid #00ae4a;
                    font-family: Cambria;
                    font-size: 15px;
                    font-weight: bold;
                    padding: 7px 25px;
                    color: #fff;
                    background-color: #ff6a00;
                    border-radius: 20px;
                    cursor: pointer;

                    &:hover {
                        box-shadow: 1px 1px 10px #faaf24;
                        transition: ease-in-out 0.2s;
                    }
                }
            }

            .right {
                position: absolute;
                right: 0px;
                top: 60px;
                width: 430px;

                ul {
                    padding-right: 120px;
                    padding-left: 10px;
                    margin-left: 50px;

                    li {
                        position: relative;
                        list-style-type: none;
                        font-family: monospace;
                        margin: 25px 0px 0px 0px;

                        .amount {
                            position: absolute;
                            left: 75px;
                            background-color: #00ae4a;
                            color: white;
                            font-weight: bold;
                            border-radius: 50px;
                            width: 22px;
                            height: 20px;
                            text-align: center;
                            padding: 3px 1px 0 1px;
                            font-size: 14px;
                            top: -5px;
                        }

                        .name {
                            position: absolute;
                            top: 25px;
                            left: 110px;
                            font-weight: bold;
                            color: #525252;
                            font-size: 14px;
                        }

                        .price {
                            position: absolute;
                            left: 280px;
                            top: 23px;
                            font-size: 15px;
                            font-weight: bold;
                            color: #ff3c3c;
                            // color: orangered;
                        }

                        img {
                            width: 90px;
                            height: 70px;
                            border-radius: 5px;
                            box-shadow: 1px 1px 5px #747474;
                        }
                    }
                }
            }
        }
    }
}
