* {
    font-family: Cambria;
}

$mainColor: #00ae4a;

.promptUpdateBox {
    .backgroundBlock {
        position: fixed;
        padding: 100px 100px;
        margin: -141px 0px 200px -288px;
        margin-bottom: -50px;
        clear: both;
        height: 100%;
        width: 100%;
        z-index: 9;
        opacity: 70%;
        background-color: gray;
    }

    .promptUpdate {
        position: absolute;
        top: 30%;
        left: 37%;
        position: fixed;
        background-color: white;
        padding: 0px 0px 15px 0px;
        border-radius: 3px;
        position: fixed;
        box-shadow: 5px 5px 10px gray;
        z-index: 99;

        p {
            padding: 10px 15px;
            margin: 0px 0px 20px 0px;
            font-weight: bold;
            font-size: 20px;
            color: white;
            background-color: $mainColor;
            text-align: center;
            border-radius: 0px;
        }

        table {
            padding: 5px 5px;
            color: #0179cf;
            font-weight: bold;

            tr {
                td {
                    padding: 10px 10px;
                    font-size: 17px;

                    input {
                        font-family: Cambria;
                        font-weight: bold;
                        font-size: 16px;
                        border: 1px solid gray;
                        width: 250px;
                        height: 25px;
                        border-radius: 3px;
                        outline: none;
                        padding: 5px 5px;
                        color: gray;
                    }
                }

                .valueInput {
                    color: gray;
                }
            }

            .errorEmpty {
                padding: 0px 0px;
                td {
                    padding: 0px 0px 0px 10px;
                    font-size: 13.5px;
                    color: red;
                }
            }
        }
        .buttonsUpdate {
            margin: 40px 0px 0px 0px;
            text-align: center;
            button {
                border: 2px solid white;
                padding: 7px 10px;
                width: 80px;
                font-weight: bold;
                cursor: pointer;
                font-size: 16px;
                border-radius: 5px;
            }

            .updateButton {
                background-color: #cefde3;
                color: $mainColor;
            }

            .updateButton:hover {
                border: 2px solid $mainColor;
            }

            .cancelButton {
                background-color: #ffdfdb;
                color: red;
                margin-left: 15px;
            }

            .cancelButton:hover {
                border: 2px solid red;
            }
        }
    }
}
