$mainColor: #00ae4a;

.accounts {
    float: right;
    width: 83%;
    margin-top: 100px;
    background-color: #f3f4f3;

    .tableAccounts {
        border-collapse: collapse;
        box-shadow: 1px 1px 10px gray;
        background-color: white;
        border-radius: 15px;
        margin: 40px 0px 20px 140px;

        thead {
            .tableName {
                background-color: $mainColor;

                td {
                    padding: 10px 30px;
                    font-size: 19px;
                    font-weight: bold;
                    color: white;
                    border-bottom-right-radius: 10px;
                    border-top-left-radius: 10px;
                }
            }
            .ordersAmount {
                td {
                    color: red;
                    font-weight: bold;
                    font-size: 16px;
                    padding: 15px 10px 20px 20px;
                }
            }

            .emptyRow {
                span {
                    color: white;
                    visibility: hidden;
                }
            }

            .tableTitle {
                border-collapse: collapse;
                font-size: 17px;
                font-weight: bold;

                td {
                    background-color: #eaffec;
                    padding: 7px 40px;
                    color: $mainColor;
                    text-align: center;
                }
            }
        }

        tbody {
            tr:hover {
                background-color: rgb(239, 253, 241);
            }

            .orderItem {
                td {
                    padding: 10px 0px 10px 0px;
                    padding-left: 0px;
                    text-align: center;
                }

                .itemName {
                    font-weight: none;
                    color: black;
                }

                .itemPosition {
                    span {
                        color: #ff6a00;
                        background-color: #ffe8d7;
                        font-weight: bold;
                        border-radius: 10px;
                        padding: 5px 10px;
                        font-size: 14px;
                    }
                }

                .itemStateLock {
                    span {
                        color: #666666;
                        background-color: rgb(231, 231, 231);
                        font-weight: bold;
                        border-radius: 10px;
                        padding: 5px 10px;
                        font-size: 14px;
                    }
                }
                .itemStateOpen {
                    span {
                        color: $mainColor;
                        background-color: rgb(224, 255, 224);
                        font-weight: bold;
                        border-radius: 10px;
                        padding: 5px 10px;
                        font-size: 14px;
                    }
                }

                .catagoryButton {
                    display: flex;
                    padding: 15px 15px 15px 15px;

                    button {
                        width: 100px;
                        font-size: 15px;
                        padding: 7px 7px 6px 7px;
                        margin: 5px 5px 0px 5px;
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        outline: none;
                        border-radius: 5px;
                        border: 0px solid black;
                        font-family: Cambria;
                        font-weight: bold;

                        .buttonIcon {
                            margin-right: 7px;
                        }
                    }

                    button:hover {
                        cursor: pointer;
                        .buttonIcon {
                            width: 70px;
                        }
                        .buttonLabel {
                            display: none;
                            visibility: hidden;
                        }
                    }

                    .buttonDetail {
                        color: white;
                        background-color: #0179cf;
                    }

                    .buttonDisable {
                        color: white;
                        background-color: #fb1307;
                    }
                    .buttonEnable {
                        color: white;
                        background-color: #00ae4a;

                        .buttonIcon {
                            font-size: 18px;
                        }
                    }
                }
            }
        }
    }
}

.detailAccount {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(138, 138, 138, 0.2);

    .main {
        margin: 0 auto;
        width: 700px;
        height: 615px;
        background-color: #ffff;
        color: black;
        border-radius: 10px;
        text-align: center;
        position: relative;
        top: 40px;

        h3 {
            text-align: left;
            color: orangered;
            font-size: 22px;
            padding: 20px 0px 15px 20px;
            margin: 20px 0 0 0;
        }

        table {
            padding: 0 20px 0 20px;

            tr {
                td {
                    font-family: monospace;
                    padding: 0px 0px 0px 0px;
                    margin: 0px 0px;
                }

                .label {
                    color: #535353;
                    width: 200px;
                    text-align: left;
                    padding: -20px 0px;
                    font-weight: bold;
                }

                .value {
                    text-align: left;
                    color: #00ae4a;
                    font-size: 17px;
                }

                &:hover {
                    background-color: #fff;
                }
            }
        }

        button {
            position: absolute;
            bottom: 15px;
            left: 300px;
            border: 0px solid #00ae4a;
            background-color: red;
            color: white;
            outline: none;
            cursor: pointer;
            transition: ease-in-out 0.15s;
            font-size: 18px;
            width: 100px;
            height: 35px;

            &:hover {
                transition: ease-in-out 0.15s;
                box-shadow: 1px 1px 7px #e64b0d;
            }
        }
    }
}
