$mainColor: #00ae4a;

.productsHome {
    //background-color: #f1f1f1;
    padding-top: 100px;
    text-align: center;

    .linkRoute {
        text-decoration: none;
    }

    .productsCatagory {
        display: flex;
        justify-content: center;

        ul {
            padding: 0px 0px;
            display: flex;
            justify-content: space-around;

            li {
                //background-color: aquamarine;
                list-style-type: none;
                margin: 0px 25px;
                cursor: pointer;

                .label {
                    text-align: center;
                    margin: 20px 0 0 0;
                    font-weight: bold;
                    font-size: 15px;
                    color: gray;
                }

                img {
                    top: 15px;
                    position: relative;
                    width: 70px;
                    height: 70px;
                    border-radius: 50px;
                    transition: 0.2s ease-in-out;
                }

                &:hover {
                    .label {
                        color: orangered;
                    }

                    img {
                        top: 0px;
                        box-shadow: 1px 1px 10px #c9c9c9;
                        transform: scale(1.1);
                        transition: 0.2s ease-in-out;
                    }
                }
            }
        }
    }

    .products {
        display: flex;
        justify-content: center;

        .productTitle {
            position: relative;
            text-align: center;
            padding: 10px 30px;
            color: white;
            font-size: 33px;
            font-weight: bold;
            border-radius: 5px;
            margin-bottom: 40px;

            &::before {
                content: "";
                background-image: url(//bizweb.dktcdn.net/100/350/980/themes/802125/assets/bg_title.png?1608187967113);
                background-repeat: no-repeat;
                width: 69px;
                height: 32px;
                display: block;
                position: absolute;
                left: 47%;
                top: 55px;
            }

            span {
                background: -webkit-linear-gradient(35deg, #3dc754 0%, #ff8a6c 100%);
                background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }

        .productsList {
            //background-color: #00ae4a;
            width: 1260px;
            margin: 50px 130px 0px 130px;

            ul {
                display: flex;
                flex-wrap: wrap;
                justify-content: left;

                li {
                    text-align: center;
                    list-style: none;
                    width: 230px;
                    border: 1px solid #e2e2e2;
                    border-radius: 10px;
                    margin: 20px 9px;

                    .boxOption {
                        visibility: hidden;
                        margin-left: 63px;
                        margin-top: -15px;
                        padding-top: 7px;
                        position: absolute;
                        z-index: 14;
                        background-color: white;

                        box-shadow: 0px 5px 15px #cacaca;
                        color: #707070;
                        font-size: 23px;
                        cursor: pointer;
                        height: 30px;
                        border-radius: 5px;

                        span {
                            z-index: 99;
                            color: #696969;
                            margin: 0px 15px;
                        }
                    }

                    .productImage {
                        transform: scale(0.83);
                        position: relative;
                        overflow: hidden;
                        width: 100%;
                        border-top-left-radius: 15px;
                        border-top-right-radius: 15px;

                        img {
                            display: block;
                            max-width: 100%;
                            transition: all 0.3s;
                            width: 90%;
                            height: 190px;
                            transform: scale(1);
                            border-top-left-radius: 15px;
                            border-top-right-radius: 15px;
                        }
                    }

                    .productName {
                        margin: 10px 0px 0px 0px;
                        color: #00ae4a;
                        font-size: 18px;
                        font-weight: bold;
                        text-decoration: none;
                    }

                    .productPrice {
                        font-size: 20px;
                        font-weight: bold;
                        font-family: "Brush Script MT", cursive;
                        margin: 5px 0px 10px 0px;
                        color: orangered;
                        text-decoration: none;

                        .priceUnit {
                            font-size: 13px;
                            font-family: "Brush Script MT", cursive;
                            margin-left: 3px;
                        }
                    }
                }

                li:hover {
                    cursor: pointer;
                    box-shadow: 1px 3px 20px #d6d6d6;
                    transition: 0.25s ease-in-out;

                    .boxOption {
                        visibility: visible;
                        transition: 0.25s ease-in-out;
                        margin-top: 0px;
                        span:hover {
                            color: #00ae4a;
                        }
                    }

                    .productImage {
                        img {
                            transform: scale(1.1);
                            border-top-left-radius: 20px;
                        }
                    }
                }
            }
        }
    }
}
